
{{#if user}}

<div class="row">
    <h4 class="center-align">Welcome {{user.first_name}} {{user.last_name}}, time to work!</h4>
</div>

{{else}}
{{/if}}

{{#if user}}
<main class="flex-row justify-center align-center col-auto p-4 bg-light">
      <section class="card card-rounded col-7 bg-white">
        <header class="card-header text-center">
        </header>
        <div class="text-center pt-4">
          <button class="btn btn-danger" id="fetch-button">
            Click Me
          </button>
        </div>
        <table class="card-body table mx-auto my-4">
          <tbody id="repo-table" class="mx-auto text-center"></tbody>
        </table>
      </section>
      <script src="/assets/js/outside_api.js"></script>
    </main>
    {{else}}
{{/if}}
<div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card purple darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Mind</span>
                <p>Mental health is important. Set goals to ease your troubled mind in these tough times. Take time to
                    meditate, relax, and unwind.</p>
            </div>
            <div class="card-action">
                <a href="/mind">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card purple darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Body</span>
                <p>Time to bulk up or slim down. Set goals to improve your psycial self and improve your overall health.
                </p>
            </div>
            <div class="card-action">
                <a href="/body">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card purple darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Knowledge</span>
                <p>They say your brain is a muscle. Set goals to track the books your reading, the new language you're
                    learning or any new skill you want to gain. </p>
            </div>
            <div class="card-action">
                <a href="/knowledge">This is a link</a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/outside_api.js"></script>
{{!-- {{/if}} --}}{{!-- {{#if user}} --}}