{{#if user}}
{{!-- {{#each user}} --}}
<div class="row">
    <h4 class="center-align">Welcome {{user.first_name}} {{user.last_name}}, time to work!</h4>
</div>
{{!-- {{/each}} --}}
{{else}}
{{/if}}
<div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card purple darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Mind</span>
                <p>Mental health is important. Set goals to ease your troubled mind in these tough times. Take time to
                    meditate, relax, and unwind.</p>
            </div>
            <div class="card-action">
                <a href="/mind">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card purple darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Body</span>
                <p>Time to bulk up or slim down. Set goals to improve your psycial self and improve your overall health.
                </p>
            </div>
            <div class="card-action">
                <a href="/body">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <div class="card purple darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Knowledge</span>
                <p>They say your brain is a muscle. Set goals to track the books your reading, the new language you're
                    learning or any new skill you want to gain. </p>
            </div>
            <div class="card-action">
                <a href="/knowledge">This is a link</a>
            </div>
        </div>
    </div>
</div>