<main>
  <div class="row">
    <div class="col s4 push-s2 purple-text text-darken-4">
      <h1>Login</h1>
    </div>
  </div>
  <form action="/login" method="post" id="login">
    <div class="row">
      <div class="col s6 push-s3">
        <div class="input-field">
          <input name="email" type="email" id="email" />
          <label for="email">Email</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6 push-s3">
        <div class="input-field">
          <input name="password" type="password" id="password" />
          <label for="password">Password</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col push-s2">
        <button class="btn purple waves-effect waves-light" type="submit" name="action">
          Log In <i class="material-icons right">done</i>
        </button>
      </div>
    </div>
    <div class="row">
      <p class="col push-s2">Or sign up <a href="/signup">here</a></p>
    </div>
  </form>
</main>
<br /><br /><br /><br /><br />