<h1 id="resolutionCategory" value="body">Resolution</h1>
<textarea name="resolution" id="resolution" cols="30" rows="10"></textarea>
<h1>Goals</h1>
<textarea name="" id="" cols="30" rows="10"></textarea>
<button id="submitButton">Click Me!</button><button>Add Milestone</button>
<a href="/">Home</a>