<h1>Resolutions</h1>

<ul>
    {{#each resolution}}
    <li>
        {{title}}
    </li>
    {{/each}}
</ul>

<textarea name="resolution" id="resolution" cols="30" rows="10"></textarea>
<button class="btn purple darken-1 waves-effect waves-light" id="submitButton">Click Me!</button>
<a href="/">Home</a>