<<<<<<< HEAD
body {
  background-color: 494947;
}

h1 {
  font-family: "Fahkwang", sans-serif;
}

h2 {
  font-family: "Fahkwang", sans-serif;
}

.collection-item {
  font-family: "Fahkwang", sans-serif;
}

.brand-logo {
  font-family: "Fahkwang", sans-serif;
}

.card {
  border-radius: 10px;
}

.card-title {
  font-family: "Fahkwang", sans-serif;
}

.card-content {
  font-family: "Fahkwang", sans-serif;
}

.btn {
  border-radius: 5px;
}
=======
#completeButton {
  width: 100px;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > nav {
  flex-grow: 0;
  flex-shrink: 0;
}

body > #content {
  flex-grow: 1;
  flex-shrink: 1;
}

body > footer {
  flex-shrink: 0;
}
>>>>>>> 1b47b92c363abb8476867a6ce44d1b69bccd924f
